

.container_hero{
    width: 100%;    
    text-align: center;
    align-items: center;
    padding: 50px 0px;
}

.container_images{
    
    width: 500px;
    background-color: #83909B;
    padding: 20px 0px;
    border-radius: 20px 20px 0px 0px;
}

.image_hero{
    width: 240px;
    border-radius: 20px;
}

.container_biografia{
    padding: 16px 0px;
    background-color: #757E85;
    width: 500px;
    border-radius: 0px 0px 20px 20px;
    
}
